apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
spec:
  type: LoadBalancer
  ports:
    - name: nodejs-port
      port: 9091
      targetPort: 8091
      protocol: TCP
  selector:
    app: nodejs-basic